Repository LolSayna/CIARC: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-lint, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-lint:
  name: ruff-lint
  entry: ruff check
  language: system
  require_serial: true
  args:
  - --fix

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true
  args: []

Refactored code base and rewrote settings to use a class with overrides.
  src/melvonaut/__main__.py
  src/melvonaut/api.py
  src/melvonaut/persistent_settings.py
  src/melvonaut/settings.py
  src/melvonaut/utils.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/shared/models.py
  tests/test_melvonaut/test_api.py
  tests/test_melvonaut/test_main.py
  tests/test_melvonaut/test_settings.py
  tests/test_rift_console/test_main.py
Due: ruff-lint, ruff-format

Added option for getting default settings.
  src/melvonaut/settings.py
  tests/test_melvonaut/test_settings.py
Due: ruff-lint, ruff-format

Added conftest such that melvonaut can now be tested.
  tests/test_melvonaut/conftest.py
  tests/test_melvonaut/test_api.py
  tests/test_melvonaut/test_settings.py
Due: ruff-lint, ruff-format

Fixed mypy errors for melvonaut except ebt-calc. Also added more tests and fixed bug in event loading.
  poetry.lock
  pyproject.toml
  src/melvonaut/__main__.py
  src/melvonaut/api.py
  src/melvonaut/ebt_calc.py
  src/melvonaut/loop_config.py
  src/melvonaut/mel_telemetry.py
  src/melvonaut/settings.py
  src/melvonaut/state_planer.py
  src/melvonaut/utils.py
  src/shared/models.py
  tests/test_melvonaut/conftest.py
  tests/test_melvonaut/test_api.py
  tests/test_melvonaut/test_models.py
  tests/test_melvonaut/test_settings.py
  tests/test_melvonaut/test_state_planer.py
Due: check-toml, ruff-lint, ruff-format

Console: tested image upload
  src/rift_console/__main__.py
  src/rift_console/templates/main.html
  src/shared/models.py
Due: ruff-lint, ruff-format

Console: Map works
  src/rift_console/__main__.py
  src/rift_console/rift_console.py
  src/rift_console/static/satellite.svg
  src/rift_console/templates/main.html
  src/shared/models.py
Due: ruff-lint, ruff-format

Console: map done
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Removed old files
  src/rift_console/__main__.py
  src/rift_console/drsApi.py
  src/rift_console/rift_telemetry.py
Due: ruff-lint, ruff-format

Add media frontend
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/templates/console.html
  src/rift_console/templates/main.html
  src/rift_console/templates/media.html
  src/shared/models.py
Due: ruff-lint, ruff-format

WIP on mypy error :)
  src/melvonaut/api.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/image_helper.py
  src/rift_console/rift_console.py
  src/rift_console/templates/media.html
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Mypy ist happy
  src/melvonaut/ebt_calc.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/image_processing.py
  src/shared/constants.py
Due: ruff-lint, ruff-format

More console features
  src/rift_console/image_processing.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

Console: start work on melvonaut api
  src/rift_console/__main__.py
  src/rift_console/melvin_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

First batch of MelvonautAPI
  src/melvonaut/api.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/melvin_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/models.py
Due: ruff-lint, ruff-format

linter
  src/melvonaut/api.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/melvin_api.py
  src/rift_console/rift_console.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Settings mapping
  src/melvonaut/settings.py
Due: ruff-lint, ruff-format

typo
  src/melvonaut/settings.py
Due: ruff-lint, ruff-format

small fix
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
Due: ruff-lint, ruff-format

Change rift console deployment
  Dockerfile
  docker-compose.yml
  poetry.lock
  pyproject.toml
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/melvin_api.py
Due: check-toml, check-yaml, ruff-lint, ruff-format

nicht von mir
  mkdocs.yml
  pyproject.toml
Due: check-toml, check-yaml

remove port
  docker-compose.yml
Due: check-yaml

Fixed Docker-compose issues and added mkdocs container.
  .gitignore
  Dockerfile.mkdocs
  docker-compose.yml
  forward-melvonaut-api.sh
  nginx.conf
Due: check-yaml

Extended github workflow to also run tests to get coverage.
  .github/workflows/main.yml
Due: check-yaml

Update main.yml
  .github/workflows/main.yml
Due: check-yaml

Fixed docker compose.
  .dockerignore
  forward-melvonaut-api.sh
  nginx.conf
Due: none

Add timeout exception
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/melvin_api.py
Due: ruff-lint, ruff-format

Logs aufräumen
  src/melvonaut/__main__.py
  src/melvonaut/mel_telemetry.py
  src/melvonaut/state_planer.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Add image viewer
  .gitignore
  logs/rift_console/images/.gitkeep
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/templates/live.html
  src/rift_console/templates/main.html
  src/rift_console/templates/media.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

mypy + lint
  src/melvonaut/__main__.py
  src/melvonaut/settings.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
