Repository LolSayna/CIARC: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-lint, ruff-format

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

ruff-lint:
  name: ruff-lint
  entry: ruff check
  language: system
  require_serial: true
  args:
  - --fix

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  require_serial: true
  args: []

WIP: some manual flags
  src/melvonaut/__main__.py
  src/shared/constants.py
Due: ruff-lint, ruff-format

Major refractoring, split melvonaut main
  README.md
  src/melvonaut/__main__.py
  src/melvonaut/loop_config.py
  src/melvonaut/mel_telemetry.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/drsApi.py
  src/rift_console/rift_telemetry.py
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Manual obj
  README.md
  src/shared/constants.py
Due: ruff-lint, ruff-format

small fix
  src/rift_console/image_processing.py
  src/shared/constants.py
Due: ruff-lint, ruff-format

update readme
  README.md
Due: none

config change
  src/rift_console/image_processing.py
  src/shared/constants.py
Due: ruff-lint, ruff-format

wip on ebt, should go to com mode now
  README.md
  src/melvonaut/__main__.py
  src/melvonaut/state_planer.py
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Implemented new get announcements function with events.
  src/melvonaut/__main__.py
  src/melvonaut/state_planer.py
  src/shared/models.py
Due: ruff-lint, ruff-format

First version to calc ebt position
  README.md
  src/melvonaut/ebt_calc.py
Due: ruff-lint, ruff-format

tring to get logs of announcments (not good code)
  .gitignore
  src/melvonaut/__main__.py
  src/melvonaut/state_planer.py
  src/shared/constants.py
Due: ruff-lint, ruff-format

Added loading and saving to csv for Events.
  src/melvonaut/__main__.py
  src/melvonaut/state_planer.py
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Possible fix for failing to see end of events issue.
  src/melvonaut/__main__.py
Due: ruff-lint, ruff-format

Fix bug with announcement csv
  src/melvonaut/__main__.py
  src/melvonaut/state_planer.py
Due: ruff-lint, ruff-format

change angle
  src/shared/constants.py
Due: ruff-lint, ruff-format

trying ebt values
  README.md
  src/melvonaut/ebt_calc.py
Due: ruff-lint, ruff-format

Start with ciarc_api for evaluation
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/shared/models.py
Due: ruff-lint, ruff-format

more console backend
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/rift_console/rift_telemetry.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Reworked docs to use mkdocs and chaged webserver to use nginx instead of traefik.
  .gitignore
  docker-compose.yml
  docker-compose.yml.traefik
  docs/changelog.md
  docs/conf.py
  docs/css/mkdocstrings.css
  docs/index.md
  docs/license.md
  docs/melvonaut.md
  docs/reference.md
  docs/requirements.txt
  docs/rift_console.md
  docs/shared.md
  docs/usage.md
  init-letsencrypt.sh
  mkdocs.yml
  nginx.conf
  poetry.lock
  pyproject.toml
  src/melvonaut/__main__.py
  src/melvonaut/ebt_calc.py
  src/melvonaut/loop_config.py
  src/melvonaut/mel_telemetry.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/drsApi.py
  src/shared/constants.py
  src/shared/models.py
Due: check-toml, check-yaml, ruff-lint, ruff-format

Cleanup README and references to docs.
  Makefile
  README.md
  mkdocs.yml
  noxfile.py
Due: check-yaml, ruff-lint, ruff-format

Setup github actions for docs.
  .github/workflows/main.yml
Due: check-yaml

Update main.yml
  .github/workflows/main.yml
Due: check-yaml

Fix to missing docs.
  .github/workflows/main.yml
  docs/docs-requirements.txt
Due: check-yaml

Split constants.py up into settings.py for melvonaut.
  poetry.lock
  profile.svg
  pyproject.toml
  src/melvonaut/__main__.py
  src/melvonaut/ebt_calc.py
  src/melvonaut/settings.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/image_processing.py
  src/rift_console/rift_console.py
  src/rift_console/rift_telemetry.py
  src/shared/constants.py
  src/shared/models.py
Due: check-toml, ruff-lint, ruff-format

Started implementation of melvonaut API.
  poetry.lock
  pyproject.toml
  src/melvonaut/__main__.py
  src/melvonaut/api.py
  src/melvonaut/persistent_settings.py
  src/melvonaut/settings.py
  src/rift_console/ciarc_api.py
Due: check-toml, ruff-lint, ruff-format

Added notifier for Melvonaut.
  poetry.lock
  pyproject.toml
  src/melvonaut/__main__.py
  src/melvonaut/api.py
  src/melvonaut/persistent_settings.py
  src/melvonaut/settings.py
  src/shared/constants.py
Due: check-toml, ruff-lint, ruff-format

WIP
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Console frontend wip
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Implemented (not tested) API functions.
  src/melvonaut/__main__.py
  src/melvonaut/api.py
  src/melvonaut/persistent_settings.py
  src/melvonaut/settings.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Frontend: Satellite controls
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Frontend: Communication slots
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Implemented tests for api.py and fixed bugs in api.py.
  logs/melvonaut/.gitignore
  poetry.lock
  pyproject.toml
  src/melvonaut/__main__.py
  src/melvonaut/api.py
  src/melvonaut/persistent_settings.py
  src/melvonaut/settings.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/shared/constants.py
  src/shared/models.py
  tests/.gitignore
  tests/test_melvonaut/test_api.py
  tests/test_melvonaut/test_main.py
  tests/test_rift_console/test_main.py
Due: check-toml, ruff-lint, ruff-format

Frontend: more tables
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/drsApi.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/models.py
Due: ruff-lint, ruff-format

del obj
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Console: add/modify objects
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Console: upload tasks
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/templates/main.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

Console: add next slot
  src/rift_console/__main__.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Docs for api and main of melvonaut
  src/melvonaut/__main__.py
  src/melvonaut/api.py
Due: ruff-lint, ruff-format

Updated API endpoints to reflect type of request and added compression middleware.
  Dockerfile
  docker-compose.yml
  src/melvonaut/api.py
  src/rift_console/__main__.py
  tests/test_melvonaut/test_api.py
Due: check-yaml, ruff-lint, ruff-format

Added compression support for API.
  src/melvonaut/api.py
  tests/test_melvonaut/test_api.py
Due: ruff-lint, ruff-format

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  ruff-lint: any of: \.py$
  ruff-format: any of: \.py$
