Repository LolSayna/CIARC: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
        args: []
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

Finished image viewer
  src/rift_console/__main__.py
  src/rift_console/templates/live.html
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Small cosmetic change
  src/rift_console/templates/main.html
Due: none

Image download buttons and viewer
  src/rift_console/__main__.py
  src/rift_console/melvin_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/downloads.html
  src/rift_console/templates/main.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

Finish api download
  logs/rift_console/from_melvonaut/.gitkeep
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/image_helper.py
  src/rift_console/melvin_api.py
  src/rift_console/templates/downloads.html
  src/rift_console/templates/live.html
  src/rift_console/templates/main.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

Fixed run_get_image not moving on.
  Dockerfile.mkdocs
  src/melvonaut/state_planer.py
Due: ruff-lint, ruff-format

Restart script
  src/melvonaut/start.sh
Due: none

Upload worldmap
  src/rift_console/__main__.py
  src/rift_console/image_helper.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

add .gitkeep for riftconsole image folder
  .gitignore
  logs/rift_console/images/download/.gitkeep
  logs/rift_console/images/live/.gitkeep
  logs/rift_console/images/stitched/.gitkeep
Due: none

Fix viewer with docker
  .gitignore
  docker-compose.yml
  src/rift_console/__main__.py
Due: check-yaml, ruff-lint, ruff-format

Viewer for stitched images
  src/rift_console/__main__.py
  src/rift_console/templates/stitched.html
Due: ruff-lint, ruff-format

Extended and moved start.sh. Documented melvonaut deployment process.
  README.md
  src/melvonaut/start.sh
  start-melvonaut.sh
Due: none

Fixed permission for start-melvonaut.sh
  start-melvonaut.sh
Due: none

Adjusted README.md
  README.md
Due: none

Upload Zoned Objectives via console
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/rift_console/image_helper.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
  src/shared/constants.py
Due: ruff-lint, ruff-format

Fixed image control flow bug.
  README.md
  src/melvonaut/state_planer.py
Due: ruff-lint, ruff-format

Added scripts for remotely managing melvin.
  forward-melvonaut-api.sh
  ssh-forward-melvonaut-api.sh
  ssh-restart-melvin-container.ssh
  ssh-start-melvonaut.ssh
  start-melvonaut.sh
Due: none

Added scripts for remotely managing melvin.
  README.md
  ssh-git-pull-on-melvin.sh
  ssh-restart-melvonaut.sh
  ssh-stop-melvonaut.sh
  start-melvonaut.sh
Due: none

Added scripts for remotely managing melvin.
  ssh-git-pull-on-melvin.sh
Due: none

Added scripts for remotely managing melvin.
  ssh-restart-melvin-container.sh
Due: none

Dump Objecitves and stitch hidden objectives
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/image_helper.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Mode change not by me
  ssh-restart-melvonaut.sh
Due: none

Code cleanup
  src/rift_console/__main__.py
  src/rift_console/ciarc_api.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Tried to make console a bit more aysnc
  src/rift_console/__main__.py
  src/rift_console/image_helper.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Small path update
  src/rift_console/__main__.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Changed event parser to now actually work.
  src/melvonaut/__main__.py
  src/melvonaut/state_planer.py
  src/shared/models.py
  ssh-start-melvonaut.sh
  ssh-start-melvonaut.ssh
Due: ruff-lint, ruff-format

linted.
  src/rift_console/__main__.py
Due: ruff-lint, ruff-format

Fixed tests to match new event data model.
  src/shared/models.py
  tests/test_melvonaut/test_api.py
  tests/test_melvonaut/test_models.py
Due: ruff-lint, ruff-format

Added Buttons for Melvonaut Control
  src/rift_console/__main__.py
  src/rift_console/melvin_api.py
  src/rift_console/rift_console.py
  src/rift_console/templates/main.html
Due: ruff-lint, ruff-format

Bugfix
  src/rift_console/__main__.py
  src/rift_console/melvin_api.py
Due: ruff-lint, ruff-format

More bugfix
  docker-compose.yml
  src/rift_console/melvin_api.py
Due: check-yaml, ruff-lint, ruff-format

working on ebt
  poetry.lock
  pyproject.toml
  src/melvonaut/ebt_calc.py
  src/melvonaut/state_planer.py
  src/shared/models.py
  tests/test_melvonaut/test_models.py
Due: check-toml, ruff-lint, ruff-format

EBT another example
  src/melvonaut/ebt_calc.py
  src/rift_console/__main__.py
Due: ruff-lint, ruff-format

Cleanup with state planer
  poetry.lock
  pyproject.toml
  src/melvonaut/settings.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/melvin_api.py
  src/shared/constants.py
Due: check-toml, ruff-lint, ruff-format

EBT Viewer done
  .gitignore
  logs/rift_console/images/ebt/.gitkeep
  src/melvonaut/ebt_calc.py
  src/melvonaut/state_planer.py
  src/rift_console/__main__.py
  src/rift_console/rift_console.py
  src/rift_console/templates/ebt.html
  src/rift_console/templates/main.html
  src/shared/constants.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Change config
  src/melvonaut/settings.py
Due: ruff-lint, ruff-format

Add paths to title of viewer
  src/rift_console/__main__.py
  src/rift_console/templates/downloads.html
  src/rift_console/templates/ebt.html
  src/rift_console/templates/live.html
  src/rift_console/templates/stitched.html
Due: ruff-lint, ruff-format

Bugfix
  src/rift_console/templates/main.html
Due: none

Add label to ebt
  src/melvonaut/ebt_calc.py
Due: ruff-lint, ruff-format
