Repository LolSayna/CIARC: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml, ruff-lint, ruff-format

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: ruff-lint
        name: ruff-lint
        entry: ruff check
        language: system
        types: [python]
        require_serial: true
        args: [--fix]
      - id: ruff-format
        name: ruff-format
        entry: ruff format
        language: system
        types: [python]
        require_serial: true
        args: []
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]

Revert commit
  src/melvonaut/settings.py
Due: ruff-lint, ruff-format

change to mez summer timer
  src/rift_console/templates/main.html
Due: none

Removed nox because we don't really use it.
  Makefile
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, ruff-lint, ruff-format

Fixed tests.
  tests/test_melvonaut/test_api.py
Due: ruff-lint, ruff-format

Lots of cleanup.
  .darglint
  .env.example
  .pre-commit-config.yaml
  CHANGELOG
  Dockerfile.mkdocs
  Makefile
  README.md
  docker-compose.yml
  docker-compose.yml.traefik
  docs/changelog.md
  init-letsencrypt.sh
  letsencrypt-config.sh
  mkdocs.yml
  nginx.conf
  src/melvonaut/settings.py
Due: check-yaml, ruff-lint, ruff-format

Updated dependencies.
  poetry.lock
  pyproject.toml
Due: check-toml

Fixed tests.
  src/melvonaut/settings.py
Due: ruff-lint, ruff-format

More cleanup and a fix.
  README.md
  docker-compose.yml
  src/rift_console/__main__.py
Due: check-yaml, ruff-lint, ruff-format

Cleanup and extended README.
  README.md
  poetry.lock
  pyproject.toml
  src/melvonaut/settings.py
  ssh-scripts/ssh-forward-melvonaut-api.sh
  ssh-scripts/ssh-git-pull-on-melvin.sh
  ssh-scripts/ssh-restart-melvin-container.sh
  ssh-scripts/ssh-restart-melvonaut.sh
  ssh-scripts/ssh-start-melvonaut.sh
  ssh-scripts/ssh-stop-melvonaut.sh
Due: check-toml, ruff-lint, ruff-format

Iterate on Readme, codecleanup, fixed mypy error with settings.py
  Dockerfile
  README.md
  src/melvonaut/ebt_calc.py
  src/melvonaut/settings.py
  src/rift_console/__main__.py
  src/rift_console/image_helper.py
  src/shared/constants.py
  src/shared/models.py
  tests/test_melvonaut/test_api.py
Due: ruff-lint, ruff-format

Small cleanup.
  src/melvonaut/__main__.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Added comments for models.py
  src/shared/models.py
Due: ruff-lint, ruff-format

Added comments for rift_console.py
  src/rift_console/rift_console.py
Due: ruff-lint, ruff-format

Add comments for state_planner
  src/melvonaut/state_planer.py
Due: ruff-lint, ruff-format

Document middleware in api
  src/melvonaut/api.py
Due: ruff-lint, ruff-format

Added Architecture to README along with images.
  README.md
  media/CIARC.drawio
  media/CIARC.png
Due: none

Updated images.
  media/CIARC.drawio
  media/CIARC.png
Due: none

Fix indentation
  src/melvonaut/api.py
Due: ruff-lint, ruff-format

More comments
  src/melvonaut/ebt_calc.py
  src/melvonaut/settings.py
  src/rift_console/__main__.py
Due: ruff-lint, ruff-format

Finish comments from my part
  src/rift_console/__main__.py
  src/rift_console/melvin_api.py
Due: ruff-lint, ruff-format

Forgot to add one file with comments.
  src/rift_console/ciarc_api.py
Due: ruff-lint, ruff-format
